body{
    text-align: center;
    margin: 0px;
    padding-top: 800px;
}
#welcome{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background:linear-gradient(red,pink);
    height: 800px;
    display: table;
    height: 100%;
    width: 100%;
}
#profile{
    height: 150px;
    border-radius: 50px
    
}
#harrypotter{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position:relative;
}
.menu{
    z-index: 10;
    position: fixed;
    top: 0px;
    background: white;
    
   

    cursor: pointer
    
    
}
.menuitem{
    display: inline;
    font-size: 23px;
    padding: 10px;
      font-family: 'Oswald', sans-serif;  
}
.menuitem:hover{font-size: 28px;}
a{
    text-decoration: none;
    color: cornflowerblue
}
